<mat-card>
    <div class="container">
        <img mat-card-image src="./assets/car.jpg" height="620px">
        <div class="centered">
            <h1 style="font-size: 50px; font-weight: 900;">A Clean Car,</h1>
            <h1 style="font-size: 50px; font-weight: 900;">Wherever You Are</h1>
        </div>
    </div>

    <mat-card-footer>
        <mat-toolbar color="accent">
            <mat-icon>eco</mat-icon>Green Wash

            <div class="spacer"></div>

            <a mat-button>Cities</a>
            <a mat-button>Pricing</a>
            <a mat-button>Reviews</a>
        </mat-toolbar>

        <mat-toolbar color="accent">
            <p>Copyright&copy; 2020. Green Car Wash company</p>
        </mat-toolbar>

    </mat-card-footer>
</mat-card>