<mat-toolbar color="primary">
    <span><mat-icon>local_car_wash</mat-icon>Green CarWash</span>

    <div class="spacer"></div>

    <a mat-button>Home</a>
    <a mat-button>Services</a>
    <a mat-button>About Us</a>
    <a mat-button>Contact Us</a>
    <a mat-button>Login</a>
    <a mat-raised-button color="accent">Sign Up</a>
</mat-toolbar>